/* add css module styles here (optional) */

.nav {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.navList {
  list-style-type: none;
}

.navList li {
  display: inline-block;
  padding: 0 1em;
}
